@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --white: #fff;
  --gray: #71717a;
  --primary: #4763E4;
  --light-gray: #fafafa;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

svg:not([fill]) {
  fill: currentColor;
}

input, textarea {
  padding: 14px !important;
  border-radius: 10px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.ant-pagination {
  align-items: center !important;
}

.ant-select-selector {
  padding: 24px 14px !important;
  display: flex !important;
  align-items: center !important;
}