.breadcrumb {
  & ol>li {
    align-items: center;
    display: inline-flex;
  }

  & .ant-breadcrumb-link {
    font-size: 16px;
    color: var(--gray);

    & a {
      font-weight: bold;
      color: var(--primary);
    }
  }
}