.layout {
  height: 100%;

  &__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 64px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 100%;

    &-text {
      font-weight: bold;
      color: var(--white);
      padding-left: 15px;
      font-size: 20px;
    }
  }

  &__menu {
    overflow-y: auto;
  }
}